

.views-container {

    width: 100%;
    overflow: hidden;
    height: 100%;
    background: #404853;


}


.host-views {

border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
position: absolute;
top: 0;
left: 50%;
height: 55px;
transform: translateX(-50%);
padding: 8px 20px;
overflow: visible;
background: rgba(30,40,53,.65);

}

li {
    list-style: none;
}

img {
    border-radius: 100%;
}